@tailwind base;
@tailwind components;
@tailwind utilities;

.not-found-bg {
  background-image: url(./assets/not-found.jpg);
  background-size: cover;
  background-position: bottom;
}

.auth-bg {
  background-image: url(./assets/register-bg.jpg);
  background-size: cover;
}
